<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<!--AmazingUI -->
	<link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
	<link rel="stylesheet" href="/assets/css/admin.css">
	<title>后台管理</title>
</head>
<body>
	<!--添加下面两个div 以给页面添加滑动条！！！-->
	<div class="admin-content">
		<div class="admin-content-body">
			<form class="am-form" method="post" enctype="multipart/form-data" action="/web/factory">
				<fieldset>
					<legend>设备出厂信息详情</legend>
					<div class="am-form-group">
						<label>本台产品编号（序列号）</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.serialNumber}"  name="serialNumber" /></p>
						<label>产品名称</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.productName}"  name="productName" /></p>
						<label>产品型号</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.productModel}"  name="productModel" /></p>
						<label>领料批号</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.pickingNumber}"  name="pickingNumber" /></p>
						<label>批数量</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.batchNumber}"  name="batchNumber" /></p>
						<label>批次编号</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.batchCode}"  name="batchCode" /></p>
						<label>生产批号</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.produceCode}"  name="produceCode" /></p>
						<label>产品版本</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.productVersion}"  name="productVersion" /></p>
						<label>软件版本</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.softwareVersion}"  name="softwareVersion" /></p>
						<label>结构版本</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.structureVersion}"  name="structureVersion" /></p>
						<label>电子版本</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.electronicVersion}"  name="electronicVersion" /></p>
						<label>算法版本</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.algorithmVersion}"  name="algorithmVersion" /></p>
						<label>液路版本</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.liquidVersion}"  name="liquidVersion" /></p>
						<label>工控模组</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.industrialControlModule}"  name="industrialControlModule" /></p>
						<label>取样模组</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.samplingModule}"  name="samplingModule" /></p>
						<label>镜检模组</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.microscopicExaminationModule}"  name="microscopicExaminationModule" /></p>
						<label>金标模组</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.goldStandardModule}"  name="goldStandardModule" /></p>
						<label>金标卡灯板</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.lightBoard}"  name="lightBoard" /></p>
						<label>性状灯板</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.traitsBoard}"  name="traitsBoard" /></p>
						<label>主控板</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.controlBoard}"  name="controlBoard" /></p>
						<label>步进电机驱动板</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.motorDriverBoard}"  name="motorDriverBoard" /></p>
						<label>液滴传感器</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.dropSensor}"  name="dropSensor" /></p>
						<label>摄像头</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.camera}"  name="camera" /></p>
						<label>电脑主机</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.computer}"  name="computer" /></p>
						<label>显示器</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.monitor}"  name="monitor" /></p>
						<label>显微镜</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.microscope}"  name="microscope" /></p>
						<label>备注</label>
						<p><input type="text" class="am-form-field am-radius" th:value="${model.remarks}"  name="remarks" /></p>

						<input type="hidden" th:value="${model.id}"  name="id">
						<input type="hidden" th:value="${model.gmtCreate}"  name="gmtCreate">
						<!--
						 *form表单只能用GET和POST方式
						 * 
						 * 但如果我们在表单内添加一个隐藏的input标签如下
						 * <input type="hidden" name="_method" value="put" />
						 * 并且表单提交仍然写POST
						 * 
						 * Springboot会自动识别这个隐藏input，并调用PUT方式的Controller方法来接受
						-->
						<input type="hidden" name="_method" value="put" />
					</div>
					<p><button type="submit" class="am-btn am-btn-primary">提交修改</button></p>
				</fieldset>
			</form>


		</div>
	</div>
	<!--[if (gte IE 9)|!(IE)]><!-->
	<script src="/assets/js/jquery.min.js"></script>
	<!--<![endif]-->
	<script src="/assets/js/amazeui.min.js"></script>
	<script src="/assets/js/app.js"></script>
</body>
</html>