<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<!--AmazingUI -->
	<link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
	<link rel="stylesheet" href="/assets/css/admin.css">
	<title>后台管理</title>
</head>
<body>
	<!--添加下面两个div 以给页面添加滑动条！！！-->
	<div class="admin-content">
		<div class="admin-content-body">
			<form class="am-form" method="post" enctype="multipart/form-data" action="/web/factory">
				<fieldset>
					<legend>登记设备出厂信息</legend>
					<div class="am-form-group">
						<label>本台产品编号（序列号）</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="serialNumber" /></p>
						<label>产品名称</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="productName" /></p>
						<label>产品型号</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="productModel" /></p>
						<label>领料批号</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="pickingNumber" /></p>
						<label>批数量</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="batchNumber" /></p>
						<label>批次编号</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="batchCode" /></p>
						<label>生产批号</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="produceCode" /></p>
						<label>产品版本</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="productVersion" /></p>
						<label>软件版本</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="softwareVersion" /></p>
						<label>结构版本</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="structureVersion" /></p>
						<label>电子版本</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="electronicVersion" /></p>
						<label>算法版本</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="algorithmVersion" /></p>
						<label>液路版本</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="liquidVersion" /></p>
						<label>工控模组</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="industrialControlModule" /></p>
						<label>取样模组</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="samplingModule" /></p>
						<label>镜检模组</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="microscopicExaminationModule" /></p>
						<label>金标模组</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="goldStandardModule" /></p>
						<label>金标卡灯板</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="lightBoard" /></p>
						<label>性状灯板</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="traitsBoard" /></p>
						<label>主控板</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="controlBoard" /></p>
						<label>步进电机驱动板</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="motorDriverBoard" /></p>
						<label>液滴传感器</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="dropSensor" /></p>
						<label>摄像头</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="camera" /></p>
						<label>电脑主机</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="computer" /></p>
						<label>显示器</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="monitor" /></p>
						<label>显微镜</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="microscope" /></p>
						<label>备注</label>
						<p><input type="text" class="am-form-field am-radius" placeholder="请输入"  name="remarks" /></p>
					</div>
					<p><button type="submit" class="am-btn am-btn-primary">提交</button></p>
				</fieldset>
			</form>


		</div>
	</div>
	<!--[if (gte IE 9)|!(IE)]><!-->
	<script src="/assets/js/jquery.min.js"></script>
	<!--<![endif]-->
	<script src="/assets/js/amazeui.min.js"></script>
	<script src="/assets/js/app.js"></script>
</body>
</html>